.cardThumbnail {
    width: 90%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-left: auto;
    min-height: 200px;
    margin-right: auto;
    padding-top: 3%;
}

.cardHeight {
    min-height: 350px;
}

.emailImage {
    background: url(../img/email.svg) no-repeat center center;
    background-size: 100px;
    width: 100%;
    height: 100%;
}

.supportImage {
    background: url(../img/support.svg) no-repeat center center;
    background-size: 100px;
    width: 100%;
    height: 100%;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 1.4);
        padding-bottom: calc(var(--jumbotron-padding-y) * 1.5);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}